<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p class="copyright-text">Copyright &copy; <%= link_to "CROKET.VN", erp_ecommerce.root_path, title: "CROKET.VN" %> 2017. Designed by CROKET.VN. All rights reseved</p>
        </div>
        <div class="col-md-6">
            <ul class="payment-icons-list">
                <li>
                    <%= image_tag "/frontend/img/payment/visa-straight-32px.png", alt: "", title: "" %>
                </li>
                <li>
                    <%= image_tag "/frontend/img/payment/mastercard-straight-32px.png", alt: "", title: "" %>
                </li>
                <li>
                    <%= image_tag "/frontend/img/payment/paypal-straight-32px.png", alt: "", title: "" %>
                </li>
            </ul>
        </div>
    </div>
</div>