<h3 class="widget-title">TOP CHUYÊN MỤC PHỔ BIẾN NHẤT</h3>
<div class="row" data-gutter="15">
    <div class="col-md-2">
        <a class="banner-category" href="#">
            <img class="banner-category-img-full" src="/frontend/img/test_product/20.jpg" alt="Image Alternative text" title="Image Title" />
            <h5 class="banner-category-title">Camping & Travel Bags</h5>
            <p class="banner-category-desc">483 products</p>
        </a>
    </div>
    <div class="col-md-2">
        <a class="banner-category" href="#">
            <img class="banner-category-img-full" src="/frontend/img/test_product/17.jpg" alt="Image Alternative text" title="Image Title" />
            <h5 class="banner-category-title">Man's Luxury Watches</h5>
            <p class="banner-category-desc">553 products</p>
        </a>
    </div>
    <div class="col-md-2">
        <a class="banner-category" href="#">
            <img class="banner-category-img-full" src="/frontend/img/test_product/15.jpg" alt="Image Alternative text" title="Image Title" />
            <h5 class="banner-category-title">Military Man's Boots</h5>
            <p class="banner-category-desc">417 products</p>
        </a>
    </div>
    <div class="col-md-2">
        <a class="banner-category" href="#">
            <img class="banner-category-img-full" src="/frontend/img/test_product/19.jpg" alt="Image Alternative text" title="Image Title" />
            <h5 class="banner-category-title">External Hard Drives</h5>
            <p class="banner-category-desc">700 products</p>
        </a>
    </div>
    <div class="col-md-2">
        <a class="banner-category" href="#">
            <img class="banner-category-img-full" src="/frontend/img/test_product/18.jpg" alt="Image Alternative text" title="Image Title" />
            <h5 class="banner-category-title">Smart LED Full HDTV</h5>
            <p class="banner-category-desc">535 products</p>
        </a>
    </div>
    <div class="col-md-2">
        <a class="banner-category" href="#">
            <img class="banner-category-img-full" src="/frontend/img/test_product/21.jpg" alt="Image Alternative text" title="Image Title" />
            <h5 class="banner-category-title">Unlocked Smartphones</h5>
            <p class="banner-category-desc">120 products</p>
        </a>
    </div>
</div>
<div class="row" data-gutter="15">
    <div class="col-md-2">
        <a class="banner-category" href="#">
            <img class="banner-category-img-full" src="/frontend/img/test_product/16.jpg" alt="Image Alternative text" title="Image Title" />
            <h5 class="banner-category-title">Waterproof Jackets</h5>
            <p class="banner-category-desc">683 products</p>
        </a>
    </div>
    <div class="col-md-2">
        <a class="banner-category" href="#">
            <img class="banner-category-img-full" src="/frontend/img/test_product/15.jpg" alt="Image Alternative text" title="Image Title" />
            <h5 class="banner-category-title">Military Man's Boots</h5>
            <p class="banner-category-desc">679 products</p>
        </a>
    </div>
    <div class="col-md-2">
        <a class="banner-category" href="#">
            <img class="banner-category-img-full" src="/frontend/img/test_product/16.jpg" alt="Image Alternative text" title="Image Title" />
            <h5 class="banner-category-title">Waterproof Jackets</h5>
            <p class="banner-category-desc">387 products</p>
        </a>
    </div>
    <div class="col-md-2">
        <a class="banner-category" href="#">
            <img class="banner-category-img-full" src="/frontend/img/test_product/17.jpg" alt="Image Alternative text" title="Image Title" />
            <h5 class="banner-category-title">Man's Luxury Watches</h5>
            <p class="banner-category-desc">323 products</p>
        </a>
    </div>
    <div class="col-md-2">
        <a class="banner-category" href="#">
            <img class="banner-category-img-full" src="/frontend/img/test_product/18.jpg" alt="Image Alternative text" title="Image Title" />
            <h5 class="banner-category-title">Smart LED Full HDTV</h5>
            <p class="banner-category-desc">338 products</p>
        </a>
    </div>
    <div class="col-md-2">
        <a class="banner-category" href="#">
            <img class="banner-category-img-full" src="/frontend/img/test_product/18.jpg" alt="Image Alternative text" title="Image Title" />
            <h5 class="banner-category-title">External Hard Drives</h5>
            <p class="banner-category-desc">160 products</p>
        </a>
    </div>
</div>