<h3 class="widget-title">TOP CHUYÊN MỤC PHỔ BIẾN NHẤT</h3>
<div class="row" data-gutter="15">
    <% (0..5).each do |popular_category| %>
    <div class="col-md-2">
        <a class="banner-category" href="javascript:void(0)">
            <%= image_tag "/frontend/img/test_product/21.jpg", alt: "", title: "", class: "banner-category-img-full" %>
            <h5 class="banner-category-title">Điện thoại di động</h5>
            <p class="banner-category-desc">120 sản phẩm</p>
        </a>
    </div>
    <% end %>
</div>
<div class="row" data-gutter="15">
    <% (0..5).each do |popular_category| %>
    <div class="col-md-2">
        <a class="banner-category" href="javascript:void(0)">
            <%= image_tag "/frontend/img/test_product/21.jpg", alt: "", title: "", class: "banner-category-img-full" %>
            <h5 class="banner-category-title">Điện thoại di động</h5>
            <p class="banner-category-desc">120 sản phẩm</p>
        </a>
    </div>
    <% end %>
</div>