<div class="owl-item">
    <div class="slider-item" style="background-color:#1A9BDA;">
        <div class="container">
            <div class="slider-item-inner">
                <div class="slider-item-caption-left slider-item-caption-white">
                    <h4 class="slider-item-caption-title">New Nokia Lumia</h4>
                    <p class="slider-item-caption-desc">Try out 2015 Top Windows Smartphone</p><a class="btn btn-lg btn-ghost btn-white" href="#">Shop Now</a>
                </div>
                <img class="slider-item-img-right" src="/frontend/img/test_slider/14.png" alt="Image Alternative text" title="Image Title" style="top: 55%; width: 56%;" />
            </div>
        </div>
    </div>
</div>
<div class="owl-item">
    <div class="slider-item" style="background-image:url(/frontend/img/test_slider/man_back_1400x500.jpg);">
        <div class="container">
            <div class="slider-item-inner">
                <div class="slider-item-caption-right">
                    <h4 class="slider-item-caption-title">Winter </br>is Comming</h4>
                    <p class="slider-item-caption-desc">New Outwear Collection</p><a class="btn btn-lg btn-ghost btn-black" href="#">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="owl-item">
    <div class="slider-item" style="background-color:#EEC746;">
        <div class="container">
            <div class="slider-item-inner">
                <div class="slider-item-caption-left">
                    <h4 class="slider-item-caption-title">Top Headphones</h4>
                    <p class="slider-item-caption-desc">Your Playlist Deserves Sound Quality</p><a class="btn btn-lg btn-ghost btn-black" href="#">Shop Now</a>
                </div>
                <img class="slider-item-img-right" src="/frontend/img/test_slider/15.png" alt="Image Alternative text" title="Image Title" />
            </div>
        </div>
    </div>
</div>