<aside class="category-filters category-filters-color">
    <div class="category-filters-section">
        <h3 class="widget-title-sm">Category</h3>
        <ul class="cateogry-filters-list">
            <li><a href="#">Backpack Style</a>
            </li>
            <li><a href="#">Clutch</a>
            </li>
            <li><a href="#">Evening Bag</a>
            </li>
            <li><a href="#">Hobo</a>
            </li>
            <li><a href="#">Messanger &amp; Cross Body</a>
            </li>
            <li><a href="#">Satchel</a>
            </li>
            <li><a href="#">Shoulder Bag</a>
            </li>
            <li><a href="#">Totes &amp; Shoppers</a>
            </li>
        </ul>
    </div>
    <div class="category-filters-section">
        <h3 class="widget-title-sm">Price</h3>
        <input type="text" id="price-slider" />
    </div>
    <div class="category-filters-section">
        <h3 class="widget-title-sm">Relese Date</h3>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />Last 30 days<span class="category-filters-amount">(18)</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />Last 90 days<span class="category-filters-amount">(69)</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />Comming Soon<span class="category-filters-amount">(51)</span>
            </label>
        </div>
    </div>
    <div class="category-filters-section">
        <h3 class="widget-title-sm">Brand</h3>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />Chanel<span class="category-filters-amount">(58)</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />Coach<span class="category-filters-amount">(33)</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />Dooney &amp; Bourke<span class="category-filters-amount">(16)</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />Gucci<span class="category-filters-amount">(69)</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />Kate Spade<span class="category-filters-amount">(27)</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />Louis Vitton<span class="category-filters-amount">(18)</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />Michael Kors<span class="category-filters-amount">(94)</span>
            </label>
        </div>
    </div>
    <div class="category-filters-section">
        <h3 class="widget-title-sm">Material</h3>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />Canvas<span class="category-filters-amount">(29)</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />Cotton<span class="category-filters-amount">(56)</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />Crocodile/Alligator<span class="category-filters-amount">(81)</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />Faux Leather<span class="category-filters-amount">(27)</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />Leather<span class="category-filters-amount">(13)</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />Nylon<span class="category-filters-amount">(82)</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />Patent Leather<span class="category-filters-amount">(70)</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />Suede<span class="category-filters-amount">(47)</span>
            </label>
        </div>
    </div>
    <div class="category-filters-section">
        <h3 class="widget-title-sm">Discount</h3>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />10% Off or More<span class="category-filters-amount">(57)</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />25% Off or More<span class="category-filters-amount">(84)</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />50% Off or More<span class="category-filters-amount">(69)</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />75% Off or More<span class="category-filters-amount">(78)</span>
            </label>
        </div>
    </div>
    <div class="category-filters-section">
        <h3 class="widget-title-sm">Features</h3>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />New<span class="category-filters-amount">(53)</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />Featured<span class="category-filters-amount">(46)</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />On Sale<span class="category-filters-amount">(11)</span>
            </label>
        </div>
    </div>
</aside>