<header class="uk-small-hidden header">
	<nav class="uk-navbar header-nav">
		<div class="uk-container uk-container-center">

			<!-- Site logo -->
			<div class="uk-navbar-brand logo_link">
				<img class="uk-responsive-height" src="/coming/images/logo_white.png" alt="">
			</div>

			<!-- Mobile navigation button -->
			<div class="uk-navbar-flip header_navbar_wrapper">
				<span class="uk-navbar-toggle header_navbar_mobile"></span>
			</div>

			<!-- Navigation -->
			<div class="uk-navbar-flip header_nav_wrapper">
				<ul class="uk-navbar-nav header_nav_list">
					<li class="header_nav_list_item">
						<a class="link_home uk-active header_nav_list_item_link" href="">Trang Chủ</a>
					</li>
					<li class="header_nav_list_item">
						<a class="link_about header_nav_list_item_link" href="">Về chúng tôi</a>
					</li>
					<li class="header_nav_list_item">
						<a class="link_location header_nav_list_item_link" href="">Liên hệ</a>
					</li>
				</ul>
			</div>

		</div>
	</nav>
</header>