<div class="uk-cover-background uk-flex uk-flex-middle uk-position-relative uk-text-center wrapper">
	<!-- Centering block -->
	<section class="uk-container uk-position-relative main">
		<!-- Site title -->
		<h1 class="uk-h1 uk-margin-large-top uk-text-contrast uk-text-uppercase title">Website đang trong giai đoạn <br>xây dựng & phát triển</h1>
		<!-- Counter -->
		<div class="js_countdown uk-width-1-1 uk-width-small-9-10 uk-width-medium-6-10 uk-width-large-5-10 uk-position-relative uk-text-contrast counter_block">
			<div class="uk-grid uk-grid-collapse">
				<div class="uk-width-1-4 counter_days">
					<div class="js_days uk-margin-bottom counter_time"></div>
					<div class="counter_text">ngày</div>
				</div>
				<div class="uk-width-1-4 counter_hours">
					<div class="js_hours uk-margin-bottom counter_time"></div>
					<div class="counter_text">giờ</div>
				</div>
				<div class="uk-width-1-4 counter_minutes">
					<div class="js_minutes uk-margin-bottom counter_time"></div>
					<div class="counter_text">phút</div>
				</div>
				<div class="uk-width-1-4 counter_seconds">
					<div class="js_seconds uk-margin-bottom counter_time_border_none counter_time"></div>
					<div class="counter_text">giây</div>
				</div>
			</div>
		</div>
	</section>
</div>