<section class="social">
	<ul class="uk-text-center uk-list social_list">
		<li class="social_list_item">
			<a class="uk-icon-facebook social_list_item_link" href=""></a>
		</li>
		<li class="social_list_item">
			<a class="uk-icon-google-plus social_list_item_link" href=""></a>
		</li>
		<li class="social_list_item">
			<a class="uk-icon-youtube social_list_item_link" href=""></a>
		</li>
	</ul>
</section>