<h3 class="widget-title-lg">GIẢM GIÁ HOT</h3>
<% (0..2).each do |hot_deal| %>
    <div class="row" data-gutter="15">
        <% (0..3).each do |product| %>
        <div class="col-md-3">
            <div class="product product-sm-left ">
                <ul class="product-labels">
                    <li>GIẢM GIÁ</li>
                </ul>
                <div class="product-img-wrap">
                    <img class="product-img" src="/frontend/img/test_product/29.jpg" alt="Image Alternative text" title="Image Title" />
                </div>
                <a class="product-link" href="#"></a>
                <div class="product-caption">
                    <ul class="product-caption-rating">
                        <li class="rated"><i class="fa fa-star"></i>
                        </li>
                        <li class="rated"><i class="fa fa-star"></i>
                        </li>
                        <li class="rated"><i class="fa fa-star"></i>
                        </li>
                        <li class="rated"><i class="fa fa-star"></i>
                        </li>
                        <li class="rated"><i class="fa fa-star"></i>
                        </li>
                    </ul>
                    <h5 class="product-caption-title">Barnett 78649 Recruit Youth 100# Crossbow Package With Red Dot Sight Pink</h5>
                    <div class="product-caption-price"><span class="product-caption-price-new">$18</span>
                    </div>
                    <ul class="product-caption-feature-list">
                        <li>1 left</li>
                        <li>Free Shipping</li>
                    </ul>
                </div>
            </div>
        </div>
        <% end %>
    </div>
<% end %>